main {
	padding: 1rem;
}
.section-one {
	.row {
		row-gap: 2rem;
	}
	.v-section-container {
		margin-block: 3rem 4rem;

		& .v-title {
			font-weight: 600;
		}
	}

	.v-left-content {
		display: flex;
		flex-direction: column;
		row-gap: 0.5rem;

		.v-sm-text {
			color: var(--primary-clr);
			font-size: 0.85rem;
			font-weight: 500;
		}
		.v-title {
			font-weight: 600;
		}
		.v-subcontent {
			font-size: 0.88rem;
		}
	}

	.v-image-container {
		border-radius: 5px;
		overflow: hidden;
	}
}
.section-two {
	margin-block: 5rem;
	padding-block: 0 4rem;

	:is(.v-terms-container, .v-each-term) {
		display: flex;
		flex-direction: column;
	}
	.v-terms-container {
		row-gap: 1.5rem;
	}
	.v-each-term {
		row-gap: 0.5rem;
		.v-term-title {
			font-weight: 600;
			font-size: 1.3rem;
		}
		.v-text {
			font-size: 0.85rem;
		}
	}
}
